<h1>My Account</h1>

Welcome, <%= @user.real_name %> 
<br/>
Your user ID <%= @user.user_id %>

<h3>As a Landlord</h3>

<% @space.each do |space| %>
  <% if @user.user_id == space['user_id'] %>
  <ul>
    <li>
    <%= space['space_name'] %>
    </li>
  </ul>
  <% end %>
<% end %>

<form action="/makersbnb/requests/<%= @user.user_id %>" method="post">
  <% @reserve.each do |reserve| %>
    <br/>
    <ul>
      <li>
    <%= reserve %>
    <%= reserve['space_id'] %>
        <span>
          <select name="requests">
              <option value="Booking Confirmed">Booking Confirmed</option>
              <option value="Booking Declined">Booking Declined</option>
          </select> 
        </span>
        <input type="submit" value="Submit">
      </li>
    </ul>
      <br/>
  <% end %>

</form>

<h3>As a Customer</h3>

<% @reserve.each do |booking| %>
  <% if @user.user_id == booking['user_id'] %>
    <%= booking %>
  <% end %>
<% end %>

  <span>
    <select name="user_request">
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
    </select> 
  </span>
  <input value='Submit' type='submit'>