<h1>Spaces</h1>

Welcome, <%= @user.real_name %>

<form action='/makersbnb/add-space' method='get'>
  <input value='Add Space' type='submit'>
</form>




<% @space.each do |get_space| %>
  <ul>
    <li>
      Name: <%= get_space['space_name'] %>
      Description: <%= get_space['description'] %>
      Price: <%= get_space['price'] %>
      Dates Available: <%= get_space['dates_available'] %>
      <form action='/makersbnb/book-space' method='get'>
        <input value='Book Space' type='submit'>
      </form>
    </li>
  </ul>
<% end %>
