<h1>Spaces</h1>

<a href="/requests">View Requests</a>

Welcome, <%= @user.real_name %> <br/>
Your user ID <%= @user.user_id %>

<form action='/makersbnb/add-space' method='get'>
  <input value='Add Space' type='submit'>
</form>

<% @space.each do |get_space| %>
  <ul>
    <li>
      ID: <%= get_space['id'] %>
      Name: <%= get_space['space_name'] %>
      Description: <%= get_space['description'] %>
      Price: <%= get_space['price'] %>
      Dates Available: <%= get_space['dates_available'] %>
      <form action="/makersbnb/book-space/<%= get_space['id'] %>" method='get'>
        <input value='Book Space' type='submit'>
      </form>
      <% if get_space['user_id'] == @user.user_id %>
        <form action="/makersbnb/delete-space/<%= get_space['id'] %>" method='post'>
          <input value='Delete Space' type='submit'>
        </form>
      <% end %>
    </li>
  </ul>
<% end %>

<% @booking.each do |get_booking| %>
  <ul>
    <li>
      User ID: <%= get_booking['user_id'] %>
      Space ID: <%= get_booking['space_id'] %>
      Date: <%= get_booking['date'] %>
    </li>
  </ul>
<% end %>
